.login {
  width: 100%;
  height: calc(100vh - 60px);
}

.login,
.content,
.content button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phrase {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.content button {
  flex-direction: row;
  gap: 0.625rem;
  background-color: #3f51b5;
  transition: 0.3s;
}

.content button:hover {
  background-color: #3649ae;
}

.content button img {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .login {
    height: calc(100vh - 95px);
  }
}
