.customContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(175px, 225px));
  justify-content: center;
  padding-bottom: 2rem;
}

.edit > div {
  cursor: pointer;
}

.noEdit > div {
  cursor: auto;
}

.noEdit > div:hover {
  background-color: initial;
}

.alertInformation {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  margin-top: 0.25rem;
  text-align: center;
  grid-column: 1/-1;
}

@media (max-width: 600px) {
  .customContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0;
  }
}
