.containerHeaderPlaylist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  gap: 2rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  color: #fff;
}

.buttonOrder {
  background-color: #1fcf6b;
  transition: 0.3s;
}

.buttonOrder:disabled {
  background-color: #7dffb5;
  cursor: auto;
}

.buttonOrder:disabled:hover {
  background-color: #7dffb5;
  cursor: auto;
}

.buttonOrder:hover {
  background-color: #16c361;
}

.buttonCancel {
  background-color: #e54;
}

@media (max-width: 600px) {
  .containerHeaderPlaylist {
    flex-direction: column;
    align-items: start;
  }
}
