.music {
  padding: 1rem;
  transition: 0.3s;
  border-radius: 0.125rem;
}

.music:hover {
  background-color: #111;
}

.music img {
  width: 200px;
  height: 200px;
  border-radius: 0.125rem;
}

.music h4 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
  font-weight: 500;
}

.music p {
  font-size: 1rem;
}

.addMusic {
  opacity: 0.2;
}

.addMusic:hover {
  background-color: initial;
}

@media (max-width: 600px) {
  .music img {
    height: 175px;
  }
  .music h4 {
    font-size: 1.125rem;
  }
}
