.playlist {
  background-color: #50ef95;
  cursor: pointer;
  border: 0.25rem solid #000;
  border-radius: 0.125rem;
  padding: 1rem 2rem;
}

.namePlaylist {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #0b0b0b;
  margin-bottom: 0.625rem;
}

.bannerPlaylist {
  width: 100%;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 0.125rem;
}

.playlist:hover .bannerPlaylist {
  opacity: 1;
}

@media (max-width: 860px) {
  .playlist {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .bannerPlaylist {
    max-height: 300px;
  }
}
